.dataCard {
    background-color: rgb(218, 195, 195);
    border-radius: 20px;
    min-width: 250px;
    min-height: 180px;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.informationDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iconDiv {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi {
    font-size: 50px;
}