<main>
    <table class="table table-bordered">
        <thead>
            <tr>
                @if (type === 'users') {
                <th>Código</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Rol</th>
                <th>Departamento</th>
                <th>Acciones</th>
                } @else if (type === 'departments') {
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
                } @else if (type === 'roles') {
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
                }
            </tr>
        </thead>

        <tbody>
            @if (type === 'users') {
            @for (user of data; track user.id) {
            <tr>
                <td>{{ user.code }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.last_name1 }} {{ user.last_name2 }}</td>
                <td>{{ user.roleId.name }}</td>
                <td>{{ user.departmentId.name }}</td>
                <td class="action-buttons">
                    <button class="btn btn-primary" routerLink="/manage-employees">
                        Actualizar
                    </button>
                    <button class="btn btn-danger" (click)="removeUser(user._id)">
                        Eliminar
                    </button>
                </td>
            </tr>
            }
            } @else if (type === 'departments') {
            @for (dept of data; track dept.id) {
            <tr>
                <td>{{ dept.name }}</td>
                <td>{{ dept.description }}</td>
                <td class="action-buttons">
                    <button class="btn btn-primary" routerLink="/manage-departments">
                        Actualizar
                    </button>
                    <button class="btn btn-danger" (click)="removeDepartment(dept._id)">
                        Eliminar
                    </button>
                </td>
            </tr>
            }
            } @else if (type === 'roles') {
            @for (role of data; track role.id) {
            <tr>
                <td>{{ role.name }}</td>
                <td>{{ role.description }}</td>
                <td class="action-buttons">
                    <button class="btn btn-primary" routerLink="/manage-roles">
                        Actualizar
                    </button>
                    <button class="btn btn-danger" (click)="removeRole(role._id)">
                        Eliminar
                    </button>
                </td>
            </tr>
            }
            }
        </tbody>
    </table>
</main>